<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Auction</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImage</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertImage</display-name>
    <servlet-name>InsertImage</servlet-name>
    <servlet-class>Servlet.InsertImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertImage</servlet-name>
    <url-pattern>/InsertImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveImage</display-name>
    <servlet-name>RetrieveImage</servlet-name>
    <servlet-class>Servlet.RetrieveImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveImage</servlet-name>
    <url-pattern>/RetrieveImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>Servlet.DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>Servlet.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>Servlet.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Displaypainter</display-name>
    <servlet-name>Displaypainter</servlet-name>
    <servlet-class>Servlet.Displaypainter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Displaypainter</servlet-name>
    <url-pattern>/Displaypainter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellServlet</display-name>
    <servlet-name>SellServlet</servlet-name>
    <servlet-class>Servlet.SellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellServlet</servlet-name>
    <url-pattern>/SellServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionChache</display-name>
    <servlet-name>SessionChache</servlet-name>
    <servlet-class>Servlet.SessionChache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionChache</servlet-name>
    <url-pattern>/SessionChache</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BiddingServlet</display-name>
    <servlet-name>BiddingServlet</servlet-name>
    <servlet-class>Servlet.BiddingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BiddingServlet</servlet-name>
    <url-pattern>/BiddingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectPaintingServlet</display-name>
    <servlet-name>SelectPaintingServlet</servlet-name>
    <servlet-class>Servlet.SelectPaintingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectPaintingServlet</servlet-name>
    <url-pattern>/SelectPaintingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getpainterinfo</display-name>
    <servlet-name>Getpainterinfo</servlet-name>
    <servlet-class>Servlet.Getpainterinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getpainterinfo</servlet-name>
    <url-pattern>/Getpainterinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Searchpaint</display-name>
    <servlet-name>Searchpaint</servlet-name>
    <servlet-class>Servlet.Searchpaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchpaint</servlet-name>
    <url-pattern>/Searchpaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDetails</display-name>
    <servlet-name>ItemDetails</servlet-name>
    <servlet-class>Servlet.ItemDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDetails</servlet-name>
    <url-pattern>/ItemDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NowToday</display-name>
    <servlet-name>NowToday</servlet-name>
    <servlet-class>Servlet.NowToday</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NowToday</servlet-name>
    <url-pattern>/NowToday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EndToday</display-name>
    <servlet-name>EndToday</servlet-name>
    <servlet-class>Servlet.EndToday</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndToday</servlet-name>
    <url-pattern>/EndToday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewToday</display-name>
    <servlet-name>NewToday</servlet-name>
    <servlet-class>Servlet.NewToday</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewToday</servlet-name>
    <url-pattern>/NewToday</url-pattern>
  </servlet-mapping>
</web-app>